*{
    margin: 0;
    padding: 0;
}

.Header{
    font-size: 100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(255, 117, 117);
}

img {
    width: 40%;
    height: 40%;
}

.line {
    stroke: red;
    stroke-width: 3;
    fill: rgb(254, 92, 92);
    animation: rotate 4s linear infinite;
    transform-origin: center;
}

@keyframes rotate{
    from{
        rotate: 0deg;
    }
    to{
        rotate: 360deg;
    }
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(255, 138, 255);
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

svg {
    margin-top: 20px;
}

.name {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: xx-large;
    color: rgb(72, 142, 255);
}